.input {
    display: block;
    max-width: 450px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.Search {
    background-color: aquamarine;
}