.btnGroup {
  order: 1;
}

.btnGroup button {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    padding: 6px 15px;
    cursor: pointer;
    float: left;
    font-size: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-right: 5px;
    transition: background .3s, color .3s;
    -webkit-transition: background .3s, color .3s;
    -moz-transition: background .3s, color .3s;
    -ms-transition: background .3s, color .3s;
    -o-transition: background .3s, color .3s;
}
  
  .btnGroup button:not(:last-child) {
    border-right: none; 
  }
  
  .btnGroup:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btnGroup button:hover {
    background-color: #000000;
    color: #ffffff;
  }