@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
* {
	box-sizing: border-box;
}
p {
    margin: 0;
    padding: 0;
}
body {
  background: #e0e0e0;
  font-family: 'Josefin Sans', cursive;
}
.songs-wrapper {
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    padding: 2%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.songs-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
span {
    font-weight: 700;
}

.count-title {
    padding: 20px 0;
    text-align: center;
    color: #000000;
    font-size: 18px;
}

.control {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.create__item input {
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}